beautifulsoup4
clickhouse-driver
empyrical
futu-api
ibapi
ipykernel
ipython
ipython-genutils
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
keras-nightly
Keras-Preprocessing
lxml
Markdown
matplotlib
matplotlib-inline
notebook
numpy
oauthlib
openpyxl
pandas
pandas-datareader
paramiko
ppscore
protobuf
pyarrow
pyfolio
python-dateutil
pytz
requests
requests-oauthlib
scikit-learn
scipy
seaborn
selenium
simplejson
sklearn
SQLAlchemy
statsmodels
# TA-Lib
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
tqdm
tzlocal
urllib3
websocket-client
Werkzeug
xlrd
XlsxWriter
func-timeout
PyYAML
plotly
